<h1>New Application</h1>
<div class="progress progress-striped active">
  <div class="bar" style="width: 40%;"></div>
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>
<h1>heyyy</h1>

<%= react_component 'NewApp', {app: @application} %></div>
